.runner {
    --duration-desk: 20s;
    --duration-tablet: var(--duration-desk);
    --duration-mobile: var(--duration-tablet);

    --duration: var(--duration-desk);

    @media screen and (max-width: 991px) {
        --duration: var(var(--duration-tablet));
    }

    @media screen and (max-width: 767px) {
        --duration: var(var(--duration-mobile));
    }

    &__wrapper {
        animation: runner var(--duration) linear infinite paused;
    }

    &--visible {
        .runner__wrapper {
            animation-play-state: running;
        }
    }

    &--reset {
        .runner__wrapper {
            animation: none;
        }
    }
}

@keyframes runner {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}