.short-list__item__link {
    .text--uppercase {
        transition: opacity 0.2s ease;
        opacity: 0.3;
    }

    .short-list__arrow {
        opacity: 0;
    }

    &.w--current {
        .text--uppercase {
            opacity: 1;
        }

        .short-list__arrow {
            opacity: 1;
        }
    }
}