.oscillator {
    animation: oscillate 2.5s ease infinite paused;

    &--active {
        animation-play-state: running;
    }
}

@keyframes oscillate {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(-15%);
    }
    20% {
        transform: translateX(0%);
    }
    30% {
        transform: translateX(-15%);
    }
    40% {
        transform: translateX(0%);
    }
}