.program-card {
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        border-top: 1px solid var(--stroke);
    }

    li {
        --index: "00";

        display: flex;
        align-items: top;
        padding: 0.7em 0;
        border-bottom: 1px solid var(--stroke);

        em {
            font-style: normal;
            margin-left: auto;
            color: var(--light-grey);
            white-space: nowrap;
            padding-left: 2em;
            flex-shrink: 0;
        }

        &::before {
            content: var(--index);
            display: block;
            width: 2em;
            font-size: 0.93em;
            color: var(--light-grey);
            flex-shrink: 0;
        }

        @for $i from 1 through 9 {
            &:nth-child(#{$i}) {
                --index: "0#{$i}";
            }
        }
        @for $i from 10 through 19 {
            &:nth-child(#{$i}) {
                --index: "#{$i}";
            }
        }
    }
}